body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background-image: url('https://raw.githubusercontent.com/saptarshi78/Riddhika_AI/main/tr71123-ai-art.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    text-align: center;
    padding: 50px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    max-width: 400px;
    margin: 100px auto;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

form input {
    display: block;
    width: calc(100% - 40px);
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
a {
    color: #030bf8; /* Set link color to white */
   
}
