<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Ridhika AI</title>
    <link rel="stylesheet" href="static/login.css">
    <style>
        .logo {
            width: 40px;
            height: auto;
            vertical-align: middle;
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Login to Ridhika</h1>
        <p><a href="/login"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/480px-Google_%22G%22_logo.svg.png" alt="Google Logo" class="logo"> Login with Google</a></p>
        <a href="/login_email"><img src="https://cdn.iconscout.com/icon/free/png-256/free-google-mail-new-logo-icon-download-in-svg-png-gif-file-formats--gmail-one-ui-pack-logos-icons-3955524.png?f=webp" alt="Email Logo" class="logo"> Login with Email</a>
     <a1>  or </a1> <a href="/signup">Sign Up</a>
    </div>
</body>
</html>
